*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    overflow-x: hidden;
}

/* Estilo para a section pegar a tela toda */
section {
    width: 100vw;
    height: 100vh;
}

/* Div para a imagem de bem vindo */
.father-home {
    width: 100%;
    height: 90%;
    background: url(./images/imagem-bem-vindo.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fonts */
:root {
    --body-font: "Roboto", sans-serif;
    --heading-font: 'Montserrat', sans-serif;
  }

.main-slider .banner-content h2.banner-title {
    font-family: var(--heading-font);
    font-size: 5.5em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
  }

@media (max-width: 900px){
    .father-home{
        width: 50%;
        height: 50%;
        background-color: red;
    }
}