
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    display: flex;
    overflow: hidden;
    background-color: #f8f1e1;
    width: 100vw;
    height: 100vh;
}

nav{
    height: 100vh;
    background-color: white ;
    width: 5.5vw;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0,0,0 0.1);
}


.logo{
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all 0.5 ease;
    padding: 0;
}


.logo img{
    width: 30%;   
}

.logo span{
    margin-top: -20px;
    font-weight: bold;
    font-size: 22px;
}


a{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}

.bx{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: #000;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
    color: #000;
}

a:hover{
    background: #eee;
}

nav:hover{
    width: 280px;
    transition: all 0.5 ease;
}


.logout{
    margin-top: 280px;
}

.father{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-direction: column; */
}

.father-content{
    width: 100%;
    height: 100%;
    display: flex;
}

.father-content2{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: orange; */
}


.content-maior1{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content1{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: pink; */
}

.content1 .titulo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 30px;

}

.content1 .subtitulo{
    font-size: 25px;
    margin-left: 30px;
}

.content1 .apresentacao{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 50px;
}

/* CONTENT 2 */

.content2{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: brown; */
}


.content2 .titulo{
    font-size: 20px;
    text-align: center;
    align-items: center;
    margin-top: 90px;
}


.botoes-content2{
    display: flex; 
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.botoes-content2 button {
    display: flex; 
    flex-direction: column;
    width: 35%; 
    color: #fff;
    background-color: white; 
    color: black;
    font-weight: bold;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 18px 0 18px 0;
    cursor: pointer;
    transition: 0.4s ease;
}

.botoes-content2 button:hover {
    background-color: rgb(206, 196, 174);
    transition: 0.4s ease;
}

.botoes-content2 button:focus {
    background-color: black;
    color: white;
    transition: 0.4s ease;
}

.content2 .titulo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}

/* CONTENT 3 */

.content3 {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
    /* background-color: pink; */
}


.content3 .titulo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-left: 30px;
    margin-top: 30px;
}



/* CONTENT 4 */
.content4 {
    display: flex;
    height: 100%;
    width: 50%;
    flex-direction: column;
}


.content4 .titulo{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-left: 30px;
    margin-top: 30px;
}

/* CARDS */

.cards-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
   
}

.card1 {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card1 span{
    display: block;
    margin-bottom: 8px;
}


.cards-scroll {
    height: 100%; 
    width: 100%;
    overflow-y: auto; /* Adiciona a rolagem vertical */
    padding: 10px; 
    margin-top: 15px;
}


.cards-scroll::-webkit-scrollbar {
    width: 10px;
}

.cards-scroll::-webkit-scrollbar-track {
    background: #f8f1e1; 
    border-radius: 10px; 
}

.cards-scroll::-webkit-scrollbar-thumb {
    background: #000; 
    border-radius: 10px; 
}








