/* Reset de margens e espaçamentos */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definições globais */
body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    color: #333;
}

:root {
    --body-font: "Roboto", sans-serif;
    --heading-font: 'Montserrat', sans-serif;
    --primary-color: #b08d57;
    --secondary-color: #666;
    --bg-light: #f5f5f5;
    --bg-dark: #333;
}

/* Style butão */
.menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Certifique-se de que o menu esteja acima de outros conteúdos */
    overflow-y: auto; /* Adiciona rolagem caso o menu tenha muito conteúdo */
    opacity: 0; /* Inicia com opacidade 0 para transição suave */
    transition: opacity 0.3s ease;
}

.menu.active {
    display: flex;
    opacity: 1; /* Torna o menu visível */
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 24px;
    border-bottom: 1px solid #444;
}

.menu a:hover {
    background-color: #575757;
}

/* Botão de hambúrguer */
.menu-btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001; /* Garantir que o botão esteja acima do menu */
}

.menu-btn div {
    background-color: var(--primary-color);
    height: 4px;
    width: 30px;
    margin: 6px 0;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Transição do botão de hambúrguer */
.menu-btn.open div:nth-child(1) {
    transform: rotate(45deg) translate(5px, 6px);
}

.menu-btn.open div:nth-child(2) {
    opacity: 0;
}

.menu-btn.open div:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -8px);
}

/* Menu */
.menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-dark);
    width: 250px; /* Ajuste a largura conforme necessário */
    height: 100%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000; /* Certifique-se de que o menu esteja acima de outros conteúdos */
    overflow-y: auto; /* Adiciona rolagem caso o menu tenha muito conteúdo */
    opacity: 0; /* Inicia com opacidade 0 para transição suave */
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(-100%);
}

.menu.active {
    display: flex;
    opacity: 1; /* Torna o menu visível */
    transform: translateX(0); /* Anima a entrada do menu */
}

.menu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-size: 24px;
    border-bottom: 1px solid #444;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu a:hover {
    background-color: var(--primary-color);
    color: #fff;
}

/* Section de tela cheia */
section {
    width: 100vw;
    height: 100vh;
}

/* Div de imagem de boas-vindas */
.father-home {
    width: 100%;
    height: 90%;
    background: url(../novas_imagens/imagem-bem-vindo.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Banner principal */
.main-slider .banner-content h2.banner-title {
    font-family: var(--heading-font);
    font-size: 5.5em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

/* Estilo da seção "Sobre" */
.container-about {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.header-about {
    color: #999;
    font-size: 14px;
    margin-bottom: 10px;
}

.title-about {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    color: #333;
}

.content-about {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.content-about img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.text-about {
    font-size: 16px;
    color: var(--secondary-color);
    line-height: 1.6;
}

/* Seção "Nossa Empresa" */
.container-empresa {
    text-align: center;
    padding: 20px;
    background-color: var(--bg-light);
}

.header-empresa {
    margin-bottom: 20px;
}

.header-empresa h1 {
    font-size: 3em;
    margin: 0;
}

.header-empresa p {
    font-size: 1em;
    color: #b0b0b0;
}

.nav-empresa {
    margin: 20px 0;
}

.nav-empresa button {
    background-color: transparent;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
}

.nav-empresa button:hover {
    background-color: var(--primary-color);
    color: #fff;
}

.content-empresa {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-empresa {
    background-color: #fff;
    color: #000;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-empresa img {
    width: 100%;
    height: auto;
}

.card-empresa h2 {
    font-size: 2em;
    margin: 10px 0;
}

.card-empresa p {
    font-size: 1em;
    color: var(--secondary-color);
    margin: 10px 0;
}

/* Seção "Serviços" */
.container-servico {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header-servico {
    margin-bottom: 40px;
    text-align: center;
}

.header-servico h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.header-servico p {
    font-size: 14px;
    color: #888;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services-servico {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.service-servico {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%;
    text-align: center;
}

.service-servico img {
    width: 100%;
    height: auto;
}

.service-servico h3 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.button-servico {
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 30px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.button-servico:hover {
    background-color: #a37a54;
}

/* Estilo do rodapé */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 80px;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
}

.footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .logo img {
    width: 150px;
}

.footer .column {
    flex: 1;
    padding: 0 20px;
}

.footer .column h3 {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: bold;
}

.footer .column p,
.footer .column a {
    font-size: 16px;
    color: var(--secondary-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.footer .column a:hover {
    text-decoration: underline;
}

.footer-bottom {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-top: 1px solid #eaeaea;
}

.footer-bottom p {
    font-size: 14px;
    color: var(--secondary-color);
}

/* Responsividade */
@media (max-width: 600px) {
    .father-home {
        width: 100vw;
        height: 90%;
        background-color: red;
    }

    .services-servico {
        flex-direction: column;
        gap: 20px;
    }
}