* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'Playfair Display';

}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
}
h1 {
    font-weight: 500;
    font-size: 28px;
}

#page-contact {
    height: 100vh;
    background-image: linear-gradient(to right bottom, #8b4513, #a3723c, #bb9e6b, #d6caa2, #f5f5dc);
    display: flex;
    justify-content: center;
}

.father-contact {
    display: flex;
    width: 80%;
    height: 100%;
}

.child-contact-image {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
}

.contact-text {
    width: 80%;
    height: 40%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    /* overflow: hidden; */

    & h1 {
        display: flex;
        flex-direction: column;
        font-size: 40px;
        padding: 40px;
    }
}

.contact-svg {
    width: 60%;
    height: 40%;
    padding: 15px;
}

.child-contact-card {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 70px;
    margin-top: -30px;
    padding: 25px;
}

.contact-logo {
    width: 28%;
}

.contact-card-form {
    width: 75%;
    gap: 20px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    padding: 30px 20px 10px 20px;
    border-radius: 7px;
    align-items: center;
    box-shadow: 0px 0px 25px rgb(101, 62, 36);
}

.input {
    position: relative;
    padding: 20px 0 0;
    margin: 8px 0 0;;
    width: 100%;
    max-width: 330px;
}

.campo {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: black;
    padding: 7px 0;
    margin-bottom: 8px;
    background: transparent;
    transition: border-color 0.2s;
}

.campo::placeholder {
    color: transparent;
}

.campo:placeholder-shown ~ .caixa {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.campo:focus {
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 2px;
    border-image: white;
    border-image-slice: 1;
}

.campo:focus ~ .caixa {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: black;
    font-weight: 500;
}

.campo:required, .campo:invalid {
    box-shadow: none;
}

.caixa {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #868585;
    pointer-events: none;
}

.contact-input {
    width: 78%;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-sizing: border-box;
    color: #868585;
    
    & input {
        width: 100%;
        border: none;
        padding: 5px 10px;
        border-radius: 10px;
        outline: none;
        display: flex;
        align-items: center;
        box-shadow: 2px 3px 10px rgb(101, 62, 36);
    }

    & p {
        width: 100%;
    }
}

textarea {
    width: 100%;
    height: 47%;
    border: none;
    outline: none;
    box-shadow: 0px 10px 25px rgb(101, 62, 36);
    box-sizing: border-box;
    padding: 3px;
}

.btn-contact {
    --hover-shadows: 0 0 10px 0 #000000;
    --accent: #000000;
    margin: 20px 0 0 0;
    font-weight: bold;
    width: 50%;
    padding: 8px 10px 8px 10px;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: white;
    cursor: pointer;
    color: black;
    font-size: 24px;
    transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 0 0 6px 0 #000000;
    transition: 0.9s;
}
  
.btn-contact:hover {
    box-shadow: var(--hover-shadows);
    background-color: black;
    color: white;
    transition: 0.8s;
}

.btn-contact:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 10px;
    background-color: var(--accent);
    transform: scale(0.95);
}


@media (max-width: 1440px) {
    .contact-card-form {
        width: 80%;
    }
}

@media (max-width: 1024px) {
    .contact-card-form {
        width: 100%;
        margin-top: 70px;
    }

    .contact-text {
        font-size: 15px;
        margin-top: 65px;
    }

    .contact-logo {
        display: none;
    }

    .contact-svg {
        margin-top: 50px;
    }
}

@media (max-width: 970px) {
    .contact-card-form {
        width: 100%;
    }

    .contact-text {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .contact-card-form {
        width: 100%;
    }

    .contact-text {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .contact-card-form {
        width: 100%;
    }

    .child-contact-card {
        padding: 0px;
    }

    .child-contact-image {
        margin-top: -50px;
    }

    .contact-text {
        font-size: 13px;
    }

    p {
        font-size: 16px;
    }

    .contact-svg {
        display: none;
    }
}

@media (max-width: 600px) {
    .contact-card-form {
        width: 100%;
    }

    .contact-text {
        font-size: 12px;
    }
}

@media (max-width: 426px) {
    .contact-card-form {
        width: 400px;
        height: 100%;
        margin-left: 30px;
    }

    .child-contact-image {
        display: none;
    }
}

@media (max-width: 375px) {
    .contact-card-form {
        width: 400px;
        height: auto;
        margin-left: 0px;
        padding: 20px;
    }

    .child-contact-card {
        flex-direction: column;
        width: 100%;
    }

    .child-contact-image {
        display: none;

         & {
            .contact-text, p, h1{
                display: none;
            }
         }
    }

    #page-contact {
        width: 100vw;
        height: 100vh;
    }
}

  
  