* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: black;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right bottom, #8b4513, #a3723c, #bb9e6b, #d6caa2, #f5f5dc);
}

.login{
    width: 100%;
    max-width: 400px;
    background-color: rgb(248, 248, 248);
    opacity: 0.90;
    color: white;
    border-radius: 18px;
    padding: 35px;
    box-shadow: 0 0 12px 0 #000000;
    margin: 0 12px;
    transition: 0.5s ease;  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;     
}

.login:hover{
    box-shadow: 0 4px 8px #000000;
    transition: 0.5s ease;
    transform: translateY(-3px);
}



.login .loginTexto{
    text-align: center;
}

.login .loginTexto img{
    width: 50px;
    height: auto;
}

.input {
    position: relative;
    padding: 20px 0 0;
    margin: 8px 0 0;;
    width: 100%;
    max-width: 330px;
}

.campo {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    margin-bottom: 8px;
    background: transparent;
    transition: border-color 0.2s;
}

.campo::placeholder {
    color: transparent;
}

.campo:placeholder-shown ~ .caixa {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.campo:focus {
    padding-top: 5px;
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 2px;
    border-image: white;
    border-image-slice: 1;
}

.campo:focus ~ .caixa {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #ffffff;
    font-weight: 500;
}

.campo:required, .campo:invalid {
    box-shadow: none;
}

.caixa {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: #868585;
    pointer-events: none;
}

.login .esqueceuSenha{
    height: 100%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: -6px;
    display: flex;
    justify-content: start;
    align-items: start;
}

.login .esqueceuSenha a{
    font-size: 13px;
    font-weight: 500;
    color: white;
    
}

.login button {
    --hover-shadows: 0 0 20px 0 #000000;
    --accent: #000000;
    margin: 40px 0 0 0;
    font-weight: bold;
    width: 85%;
    padding: 6px 10px 6px 10px;
    letter-spacing: 0.1em;
    border: none;
    border-radius: 1.1em;
    background-color: #000000;
    cursor: pointer;
    color: white;
    font-size: 24px;
    transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s,
      letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
    box-shadow: 0 0 15px 0 #000000;
    transition: 0.5s;
}

.login button:hover {
    box-shadow: var(--hover-shadows);
    background-color: #000000;
    transition: 0.8s;
}
  
.login button:active {
    box-shadow: var(--hover-shadows), var(--accent) 0px 0px 10px;
    background-color: var(--accent);
    transform: scale(0.95);
}  

.ok {
    width: 12%;
    margin-bottom: -12px;
}